
body{
font-family: 'Lato', sans-serif;

}
.header{
  display: flex;
  align-items: center;
  gap: ;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.10);
  
}

.header-img{
width: 635px;
height: 800px;
}

.header-title{
width: 650px;
color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-description{
width: 600px;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.btn-primary{
  padding: 20px 43px;
  gap: 10px;
  background-color:#E55473 ;
  border: 0;
  border-radius: 5px;
  color:white;
  font-size: large;
  font-weight: 700;
}
/* main section started */
.info{
  padding: 200px;
  text-align: center;
}
.sub-heading{
  font-size: 30px;
}
.info-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
}

/* cards section start */
.cards{
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  margin: auto;
}
.card{
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
