
body{
font-family: 'Lato', sans-serif;

}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.20);
  padding-left:100px ;
  
}

.header-img{
width: 635px;
height: 800px;
}

.header-title{
width: 650px;
color: #272727;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-description{
width: 600px;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.btn-primary{
  padding: 19px 30px;
  gap: 10px;
  background-color:#E55473 ;
  border: 0;
  border-radius: 5px;
  color:white;
  font-size: large;
  font-weight: 700;
}

/* main section started */


.info{
  margin-top: 0;
  margin-bottom: 0;
  padding: 200px;
  text-align: center;
}
.sub-heading{
  font-size: 30px;
}
.info-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.info-title{
color: #272727;
font-family: Lato;
font-size: 45px;
font-style: normal;
font-weight: 800;
margin-bottom: 0;
margin-top: 0;
}


/* cards section start */
.cards{
  display: flex;
  gap: 50px;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  position: relative
}
.card{
  
  width: 380px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  align-items: bottom center;

}
.card-img{
  width: 310px;
  height: 428px;
  margin-top: 55px;
}
.card-2{
  background-color: rgba(5, 151, 160, 0.15);
}
.card-3{
 background: rgba(71, 125, 17, 0.15);
}
.footer{
  background-color: black;
  color: white;
  text-align: center;
  text-indent: 0;
  padding: 100px;
}
.ft-text{
  color:#E55473
}
.ft-heading{
color: #ffffff;
font-family: Lato;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 0;
margin-bottom: 5px;
}
.ft-para{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
margin-top: 0;
padding-top: 0;
}
.ft-last-para{
  font-size: 10px;
}