
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Lato', sans-serif;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.20);
  padding-left:100px ;
  
}

.header-img{
/* width: 635px;
height: 800px; */
width: 50%;
padding: 0 100px;
align-items: bottom center;
margin: 0 20px;

}

.header-title{
width: 650px;
color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-description{
width: 50%;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin: 20px 0;
}
.btn-primary{
  padding: 15px 25px;
  gap: 15px;
  background-color:#E55473 ;
  border: 0;
  border-radius: 5px;
  color:white;
  font-size: large;
  font-weight: 700;
  margin-top: 10px;
}

/* main section started */


/* features description starts here  */

.info{
  margin-top: -80px;
  margin-bottom: -50px;
  padding: 200px;
  text-align: center;
}

.info-title{
  color: #272727;
  font-family: Lato;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 0;
  }

.info-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin: 0;
}


/* features description ends here  */


/* cards section start here*/
.cards{
  display: flex;
  gap: 60px;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  position: relative
}
.card{
  
  width: 380px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  align-items: bottom center;
  margin: 0;
  margin-top: -30px;

}
.card-img{
  width: 310px;
  height: 428px;
  margin-top: 55px;
}
.card-2{
  background-color: rgba(5, 151, 160, 0.15);
}
.card-3{
 background: rgba(71, 125, 17, 0.15);
}
.img-description{
  color: #272727;
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 700;
margin-top: 25px;
text-decoration-line: underline;
}
/* card section ends here  */



/* hot deal section starts here  */
.hot-deal-section{
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  width: 80%;
  margin: 80px auto;
  
}
.hot-text{
  text-align: center;
  padding: 200px;
  align-items: center;
  padding-left: 10 px;
}
 
.sign-up{
  margin-top: 20px;
}
.hot-img{
  padding-top: 80px;
  width: 318px;
  height: 420px;
  margin-left: 20px;
}

/* hot deal section ends here  */



/* instagram section starts here  */

.insta-section{
  text-align: center;
  margin: 0;
  align-items: center;
}
.insta-title{
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}
.insta-para{
  width: 40%;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
  color: #272727;
}


/* instagram section ends here  */



/* four feature images start here  */

.four-img{
  display: flex;
  width: 80%;
  gap: 25px;
  align-items: center;
  margin: 30px auto;
  padding: 20px;
}

.group-img{
width: 250px;
gap: auto;
padding-right: 35px;

}

/* four features images ends here  */



/* newslater section starts here  */

.newsletter-section{
  width: 80%;
  margin: 40px auto;
  margin-bottom: 80px;
  text-align: center;
  padding: 80px;
  background-image:url(newslater/newslater.png);
  background-size: cover;
}

#email-field{
  width: 700px;
  height: 45px;
  padding: 15px;
  color: #E55473;
  font-size: 20px;
  font-weight: 800;
  border: none;
}

.newsletter-section form [type=submit] {
  background-color: #E55473;
  padding: 12px 28px;
  margin: 14px 0px;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

/* newsletter section end  */





/* footer section starts here  */

.footer{
  background-color: black;
  color: white;
  text-align: center;
  text-indent: 0;
  padding: 100px;
}
.ft-text{
  color:#E55473
}
.ft-heading{
color: #ffffff;
font-family: Lato;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 0;
margin-bottom: 5px;
}
.ft-para{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
margin-top: 0;
padding-top: 0;
}
.ft-last-para{
  font-size: 10px;
}

/* footer section ends  */